<h1>Auto insurance</h1>

<p>
  There are going to be a series of buttons to select from based off of what you are trying to insure, credit, your age, and your gender.
</p>
<font face = "Veranda" size = "5">All of these prices will be based off of a yearly price of a 2018 model of the car.</font>
<p> The first question is what type of car you are trying to insure.</p>
<p> The second one will be which range of credit fits you best.</p>
<p> The third question is what is your age?</p>
<p>The last question is what is your gender?</p>
<body style="background-color:#1E1EF8;">
  <font size = "5">Truck or SUV</font><br />
  <font size = "3"> Credit: <400 </font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $3000</p>
  <p style="margin-left: 80px">Female yearly cost: $2400</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $2125</p>
  <p style="margin-left: 80px">Female yearly cost: $1975</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1800</p>
  <p style="margin-left: 80px">Female yearly cost: $1500</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1600</p>
  <p style="margin-left: 80px">Female yearly cost: $1300</p>

  <font size = "3">credit: 400-650</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2850</p>
  <p style="margin-left: 80px">Female yearly cost: $2300</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1950</p>
  <p style="margin-left: 80px">Female yearly cost: $1700</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1600</p>
  <p style="margin-left: 80px">Female yearly cost: $1350</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1100</p>
  <p style="margin-left: 80px">Female yearly cost: $950</p>

  <font size = "3"> credit: 650-725</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2700</p>
  <p style="margin-left: 80px">Female yearly cost: $2200</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1825</p>
  <p style="margin-left: 80px">Female yearly cost: $1500</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1450</p>
  <p style="margin-left: 80px">Female yearly cost: $1125</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $900</p>
  <p style="margin-left: 80px">Female yearly cost: $750</p>

  <font size = "3">credit: 725-850</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2600</p>
  <p style="margin-left: 80px">Female yearly cost: $2150</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1665</p>
  <p style="margin-left: 80px">Female yearly cost: $1380</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1325</p>
  <p style="margin-left: 80px">Female yearly cost: $1000</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $800</p>
  <p style="margin-left: 80px">Female yearly cost: $650</p>
</body>
  <body style="background-color:#23E231;">
<font size=" 5">Sedan or hatchback</font><br />
  <font size = "3"> Credit: <400 </font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2700</p>
  <p style="margin-left: 80px">Female yearly cost: $2100</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1825</p>
  <p style="margin-left: 80px">Female yearly cost: $1625</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1500</p>
  <p style="margin-left: 80px">Female yearly cost: $1125</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1425</p>
  <p style="margin-left: 80px">Female yearly cost: $1000</p>

  <font size = "3">credit: 400-650</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2550</p>
  <p style="margin-left: 80px">Female yearly cost: $2000</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1750</p>
  <p style="margin-left: 80px">Female yearly cost: $1475</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1400</p>
  <p style="margin-left: 80px">Female yearly cost: $1150</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $960</p>
  <p style="margin-left: 80px">Female yearly cost: $750</p>

  <font size = "3"> credit: 650-725</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2500</p>
  <p style="margin-left: 80px">Female yearly cost: $2050</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1900</p>
  <p style="margin-left: 80px">Female yearly cost: $1650</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1450</p>
  <p style="margin-left: 80px">Female yearly cost: $999</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $900</p>
  <p style="margin-left: 80px">Female yearly cost: $650</p>

  <font size = "3">credit: 725-850</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2480</p>
  <p style="margin-left: 80px">Female yearly cost: $2050</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1500</p>
  <p style="margin-left: 80px">Female yearly cost: $1250</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1100</p>
  <p style="margin-left: 80px">Female yearly cost: $800</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $700</p>
  <p style="margin-left: 80px">Female yearly cost: $550</p>
  </body>
<body style="background-color:#AE1B3A;">
<font size=" 5">Sports car or convertible</font><br />

  <font size = "3"> Credit: <400 </font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $3500</p>
  <p style="margin-left: 80px">Female yearly cost: $2700</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $2300</p>
  <p style="margin-left: 80px">Female yearly cost: $2178</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $2000</p>
  <p style="margin-left: 80px">Female yearly cost: $1775</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1600</p>
  <p style="margin-left: 80px">Female yearly cost: $1500</p>

  <font size = "3">credit: 400-650</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $3005</p>
  <p style="margin-left: 80px">Female yearly cost: $2550</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $2150</p>
  <p style="margin-left: 80px">Female yearly cost: $1985</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1850</p>
  <p style="margin-left: 80px">Female yearly cost: $1550</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1425</p>
  <p style="margin-left: 80px">Female yearly cost: $1275</p>

  <font size = "3"> credit: 650-725</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2800</p>
  <p style="margin-left: 80px">Female yearly cost: $2425</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1925</p>
  <p style="margin-left: 80px">Female yearly cost: $1766</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1645</p>
  <p style="margin-left: 80px">Female yearly cost: $1425</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1275</p>
  <p style="margin-left: 80px">Female yearly cost: $1100</p>

  <font size = "3">credit: 725-850</font><br />
  <p style="margin-left: 40px">Age is between: 16-25</p>
  <p style="margin-left: 80px">Male yearly cost: $2800</p>
  <p style="margin-left: 80px">Female yearly cost: $2320</p>

  <p style="margin-left: 40px">Age is between: 25-45</p>
  <p style="margin-left: 80px">Male yearly cost: $1775</p>
  <p style="margin-left: 80px">Female yearly cost: $1566</p>

  <p style="margin-left: 40px">Age is between: 45-65</p>
  <p style="margin-left: 80px">Male yearly cost: $1500</p>
  <p style="margin-left: 80px">Female yearly cost: $1300</p>

  <p style="margin-left: 40px">Age is between: 65+</p>
  <p style="margin-left: 80px">Male yearly cost: $1000</p>
  <p style="margin-left: 80px">Female yearly cost: $850</p>

<p>As you can tell the sports car is the most expensive because of the way they are built and how fast people go in them.</p>

</body>

