<h1> Boat Insurance</h1>


<p> The way we calculate the insurance for your boat is mostly based on how much your boat is worth and your credit.</p>

<p>You normally take the cost of your boat and multiply it by 1.5% for a good credit score.</p>
<p>The scale for the credit score is as follows:</p>
<p><400 2% of the boats cost.</p>
<p>400-650 is 1.75% of the boats cost.</p>
<p>650-725 is 1.65% of the boats cost.</p>
<p>725-850 is 1.5% of the boats cost.</p>

<body style = "background-color:#67BCFE;">
<font size = "5"> Boat cost: $20,000-100,000</font><br />
<font size = "3"> Credit: <400</font><br />
<font size = "3"> Your cost will be between 400 - 2,000 </font><br />

<font size = "3"> Credit: 400-650</font><br />
<font size = "3"> Your cost will be between 350- 1,750 </font><br />

<font size = "3"> Credit: 650-725</font><br />
<font size = "3"> Your cost will be between 330- 1,650 </font><br />

<font size = "3"> Credit: 725-850</font><br />
<font size = "3"> Your cost will be between 3,00 - 1,500</font><br />

<font size = "5"> Boat cost: $100,000-250,000</font><br />
<font size = "3"> Credit: <400</font><br />
<font size = "3"> Your cost will be between 2,000- 5,000 </font><br />

<font size = "3"> Credit: 400-650</font><br />
<font size = "3"> Your cost will be between 1,750 - 4,375 </font><br />

<font size = "3"> Credit: 650-725</font><br />
<font size = "3"> Your cost will be between 1,650 - 4,125 </font><br />

<font size = "3"> Credit: 725-850</font><br />
<font size = "3"> Your cost will be between 1,500 - 3,750</font><br />

<font size = "5"> Boat cost: $250,000-500,000</font><br />
<font size = "3"> Credit: <400</font><br />
<font size = "3"> Your cost will be between 5,000 - 10,000 </font><br />

<font size = "3"> Credit: 400-650</font><br />
<font size = "3"> Your cost will be between 4,375 - 8,750</font><br />

<font size = "3"> Credit: 650-725</font><br />
<font size = "3"> Your cost will be between 4,125 - 8,250</font><br />

<font size = "3"> Credit: 725-850</font><br />
<font size = "3"> Your cost will be between 3,750 - 7,500</font><br />
</body>

