<html>
<body style="background-color:#ff0000;">

<h1>Easy prices togo</h1>

<p>This is a website that will be used in the future for insurance costs and payments for my fathers company.</p>
<p>There are discounts that can be utilized that we offer.</p>
<p>The main ones we offer are if you pay 6 months in advance then you get a certain percentage off based on the item.</p>
<p>There is also a discount for military people and senior citizens.</p>


<h1>Meet your agent</h1>

<img src="assets/cover.jpg" alt="Chad Wilson" width="190" height="380">

<p>I have been working in the insurance field for over 20 years now!</p>

<p>I own a place in downtown jeff that has been there for avery long time that I do my business out of.</p>

<p> I also have 2 other co-workers that work there and have been doing insurance for a very long time as well.</p>

<p>My contact into is as follows:</p>
<font size = "4">Cell phone:###-###-####</font><br />
<font size = "4">Office phone:###-###-####</font><br />
<font size = "4">Email: cwinsurance@insurance.com</font><br />
</body>
</html>
