<h1>Home insurance</h1>

<p>Home insurance is very different from either boat or auto insurance simply because of the many different ways you have to classify it.</p>
<p>I have broken it down into 2 different categories. </p>
<p>Those being Home with a basement and without a basement.</p>
<font face = "Times New Roman" size = "4">These prices are for general homeowners insurance.</font><br />
<font face = "Times New Roman" size = "4">There are many other things you need to protect your home such as fire, tornado, water, and many other types.</font><br />

<body style ="background-color:#258F9A;">

<font face = "Comic Sans" size = "5">Your prices are listed below.</font><br />
<p>A 1500 square foot home without a basement would normally cost around 1000 per year.</p>

<p>A 2400 square foot home without a basement would normally cost around 1850 per year.</p>

<p>A 3000 square foot home without a basement would normally cost around 2200 per year.</p>

<p>A 1500 square foot home with a basement would normally cost around 1200 per year.</p>

<p>A 2400 square foot home with a basement would normally cost around 2175 per year.</p>

<p>A 3000 square foot home with a basement would normally cost around 2550 per year.</p>
</body>
